body {
	background-color: #7788CC;
	color: #333333;
	font-family: Calibri, Candara, Trebuchet MS, sans serif;
}

a {
	color: #DDAA11;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #DDAA11;
}

h2 {
	font-size: 1.125em;
	font-weight: bold;
	color: #001166;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	color: #7788CC;
}

img {
	border: 0;
}

.vertbar {
	color: #110066;
}

.errormsg {
	font-size: 0.75em;
	color: #FF0000;
}


#logo {
	width: 864px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#logo img {
	float: left;
}

#nav {
	background-color: #FFFFFF;
	color: #DDAA11;
	width: 550px;
	margin: 0 auto;
	position: relative;
	left: 37px;
	top: -101px;
	text-align: center;
	font-size: 1.125em;
	line-height: 2.25em;
	clear: both;
}
#nav a {
	color: #001166;
}
#nav a:hover {
	color: #DDAA11;	
}

#content-outer {
	background-color: #FFFFFF;
	color: #333333;
	text-align: justify;
	width: 625px;
	margin: 0 auto;
	position: relative;
	top: -30px;
}

#content-inner {
	padding: 0.125em 1em;
}

#footer {
	color: #001166;
	text-align: center;
	font-size: 0.75em;
	width: 625px;
	margin: 0 auto;
	position: relative;
	top: -20px;
}

#footer a {
	color: #FFFFFF;
}

#gameplay_menu, #watch_menu, #events_menu, #records_menu, #chat_menu, #account_menu {
	background-color: #FFFFFF;
	color: #001166;
	z-index: 0;
}