
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 *  COLORS.CSS holds the skin-specific color information. When adding a new skin,
 *  simply find-and-replace the three appropriate hex codes representing
 *  main color, contrast color, and background color.
 *
 *  In this skin (Panda):
 *    MAIN COLOR:	#000000
 *    CONTRAST COLOR:	#999999
 *    BACKGROUND COLOR:	#BCBCBC
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  CSS below this point controls standard HTML page elements
 */


/* The background is BACKGROUND COLOR */
body {
	background-color: #BCBCBC;
}

/* Hyperlinks are CONTRAST COLOR */
a {
	color: #999999;
}

/* Level one headers are CONTRAST COLOR */
h1 {
	color: #999999;
}

/* Level two headers are MAIN COLOR */
h2 {
	color: #000000;
}

/* Level three headers are BACKGROUND COLOR */
h3 {
	color: #BCBCBC;
}

/* Table borders are MAIN COLOR */
table, td, th {
	border: 1px solid #000000;
}

/* Table header backgrounds are MAIN COLOR */
th {
	background-color: #000000;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  CSS below this point controls style classes & IDs used in forms
 */


/* Form input area borders are MAIN COLOR */
.inputarea input, .inputarea select, .inputarea textarea {
	border: solid 1px #000000;
}

/* The focused form input area border is CONTRAST COLOR */
.inputarea input:focus, .inputarea select:focus, .inputarea textarea:focus
{
	border: solid 1px #999999;
}

/* Submit buttons for forms are CONTRAST COLOR with MAIN COLOR text & border */
.inputarea input[type="submit"] {
	background-color: #999999;
	color: #000000;
	border: solid 1px #000000;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  CSS below this point controls IDs used to create the overall site layout
 */


/* Text in the footer is MAIN COLOR */
#footer {
	color: #000000;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  CSS below this point controls the dropdown menus of the main navigation.
 *  This code is modified from the GRC's Script-Free Pure-CSS Menuing System,
 *  written by Steve Gibson and available at: http://www.grc.com/menu2/invitro.htm
 */


/* Text in the main menu is CONTRAST COLOR */
.menu {
	color: #999999;
}

/* Hyperlinks in the main menu are MAIN COLOR */
.menu ul li a {
	color: #000000;
}

/* Hyperlinks on mouseover in the main menu are CONTRAST COLOR */
.menu ul li a:hover {
	color: #999999;
}

/* Dropdowns have a thick left border of MAIN COLOR */
.menu ul li ul {
	border-left: 7px solid #000000;
}

/* Hyperlinks in dropdowns are CONTRAST COLOR */
.menu ul li ul li a {
	color: #999999;
}

/* Hyperlinks on mouseover in dropdowns are MAIN COLOR */
.menu ul li ul li a:hover {
	color: #000000;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  CSS below this point controls the news slider on the index page.
 *  This code is modified from the jQuery Coda-Slider v2.0,
 *  written by Niall Doherty and available at: http://www.ndoherty.biz/coda-slider
 */


/* The news item background is BACKGROUND COLOR */
.coda-slider {
	background: #BCBCBC;
}

/* The current news item title is CONTRAST COLOR */
.coda-nav ul li a.current {
	background: #999999;
}

/* Non-current news item titles are MAIN COLOR */
.coda-nav ul li a {
	background: #000000;
}