<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hexad.bluezime"
      android:versionCode="10" android:versionName="1.9">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">

   	<service android:name="BluezService" android:exported="true" android:enabled="true" >
   		<intent-filter>
   			<action android:name="com.hexad.bluezime.disconnect" />
   		</intent-filter>
   		<intent-filter>
   			<action android:name="com.hexad.bluezime.connect" />
   		</intent-filter>
   		<intent-filter>
   			<action android:name="com.hexad.bluezime.featurechange" />
   		</intent-filter>
   		<intent-filter>
   			<action android:name="com.hexad.bluezime.getconfig" />
   		</intent-filter>
   	</service>
   	
   	<service android:name="BluezForegroundService" android:exported="false" android:enabled="true" />

    <service android:name="BluezIME"
        android:label="Bluez IME"
        android:permission="android.permission.BIND_INPUT_METHOD">
        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>
        <meta-data android:name="android.view.im" android:resource="@xml/method" />
    </service>

	<activity android:name="DeviceScanActivity" android:label="@string/scan_title" />
	<activity android:name="ButtonConfiguration" android:label="@string/button_config_title" />

    <activity android:name="BluezIMESettings" android:label="@string/settings_title">
	    <intent-filter>
	        <action android:name="android.intent.action.MAIN"/>
	        <category android:name="android.intent.category.LAUNCHER" />
	    </intent-filter>
    </activity> 
              
    <!-- BEGIN: Support for in-app donation -->
    <service android:name="com.hexad.bluezime.donation.BillingService" />

    <receiver android:name="com.hexad.bluezime.donation.BillingReceiver">
      <intent-filter>
        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
      </intent-filter>
    </receiver>
    <!-- END: Support for in-app donation -->
    
	</application>
	
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="com.android.vending.BILLING" />

</manifest> 