/* GLOBAL */
body
{
	font-family: "Arial", "Helvetica", "Helvetica Neue";
	font-size: 14px;
	color: #333;
	text-align: left;
	background-image: url('../images/background.png');
	margin: 30px 0 0 0;
}
body a
{
	color: #ca4a0f;
}
body a:hover
{
	color: #d50b0b;
}
h1
{
	font-size: 62px;
	line-height: 14px;
	color: black;
}
div#menu ul a
{
	text-decoration: none;
	color: black;
}
div#menu ul a:hover
{
	text-decoration: underline;
	color: black;
}

/* LAYOUT */
div#page
{
	margin: 0 auto 0 auto;
	width: 946px;
}
div#site_title
{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
	line-height: 15px;
	margin: 0 0 0 30px;
}
div#primary_content
{
	/* ROUNDED CORNERS */
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	/* DROP SHADOW */
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
	/* OTHER */
	background-color: white;
	padding: 40px;
}
div#menu ul
{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
div#menu li
{
	margin: 0;
	padding: 8px;
	display: inline;
}
div#page_content
{
	
}

/* COLOR STYLES */
.color01
{
	color: #de5b1e;
}
.color02
{
	color: #f0b747;
}
.color03
{
	color: #6aa427;
}
.color04
{
	color: #9bcfb2;
}